// Font and Styles

$primary-font: 'Lato', sans-serif;
$regular: 400;
$bold: 700;
$letter-spacing: 0.5px;

// Theme Colors

$default: #777;
$default-hover: #555;
$primary: #9c64b8;
$primary-hover: #8853a1;
$primary-transparent: rgba(155, 100, 184, 0.6);
$primary-transparent-overlay: rgba(155, 100, 184, 0.8);
$success: #87c056;
$success-hover: #73a449;
$info: #4da5e2;
$info-hover: #428fc5;
$warning: #fbd255;
$warning-hover: #f4c63d;
$danger: #ee4343;
$danger-hover: #d73737;
$title-color: #333;
$text-color: #555;
$bg-color: #eee;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.98) !important;
$light-grey: #eee;
$light-grey-transparent: rgba(245, 245, 245, 0.8) !important;
$grey: #ccc;
$grey-transparent: rgba(200, 200, 200, 0.8) !important;
$dark-grey: #333;
$dark-grey-transparent: rgba(150, 150, 150, 0.8) !important;
$black: #000;